/* articlesList.css */

.articles-list {
    border-radius: 10px;
    background-color: #d8d8d8;
    margin: 50px;
    overflow-y: auto;
    max-height: 300px;
}

.titles {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* Added one column for Action */
    color: black;
    font-weight: bold;
    padding: 10px;
}


.article {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #fff;
    color: black;
    overflow: hidden;
}

.article div {
    white-space: nowrap;
    /* Empêche le texte de passer à la ligne */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Ajoute des points de suspension (...) à la fin du texte coupé */
}


.article .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.article .buttons button {
    width: 100px;
    height: 40px;
    padding: 4px 8px;
    gap: 7px;
    background-color: #b1b0b0;
    /* 25% opacity */
    color: black;
    display: flex;
    align-items: center;
    border: none;
    font-family: 'poppins', 'sans serif';
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.article .buttons .buttonIcon {
    width: 20px;
    /* Adjust the width of the delete icon */
    height: 20px;
}


.article .buttons button:hover {
    background-color: #ffffff;
}


.verifier-rectangle {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', 'sans serif';
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.verifier-rectangle-verified {
    background-color: #4CAF50;
    /* Vert pour vérifié */
    color: #fff;
    /* Texte blanc pour vérifié */
}

.verifier-rectangle-not-verified {
    background-color: #FF0000;
    /* Rouge pour non vérifié */
    color: #fff;
    /* Texte blanc pour non vérifié */
}

.article:hover {
    background-color: #a1a1a1; /* Slight grey color on hover */
}

.separator {
    height: 1px;
    background-color: #000; /* Choose the color you want for the separator */
  }
  