/* Inside NavBar.css */
.navbar {
    background: #142832;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px; /* Adjust margin values as needed */
    position: relative;
  }
  
  .logo {
    width: 100px; /* Adjust the width of the logo as needed */
  }
  
  .menu-icon {
    width: 55px; /* Adjust the width of the menu icon as needed */
    cursor: pointer;
  }
  /* Add any additional styling as per your design */
  